.footer {
    display: flex;
    justify-content: space-between;
    padding: 45px 10%;
    background-color: #333;
    color: rgba(255, 255, 255, 0.932);
    font-size: 18px;

    .contact {

        a {
            border: none !important;
        }

        .title {
            font-weight: bold;
            letter-spacing: .5px;
            margin-bottom: 20px;
        }

        &-info {
            margin: 15px 0; 
        }
    }


}

@media only screen and (max-width: 1023px) {
    .footer {
        padding: 40px 5%;
        flex-wrap: wrap;        
        font-size: 16px;

        .social {
            margin-top: 10px;
        }
    }
}
